.active-link {
    color: rgb(27, 25, 25);
  }

/* CSS cho phần tử nền ảnh và chữ */

.relative.bg-cover .absolute svg {
  z-index: 0; 
}

/* CSS cho dropdown menu */
#userMenu {
  position: absolute;
  z-index: 10000; 
}


/* Hiệu ứng phóng to khi hover */
.max-w-xs {
  transition: transform 0.3s ease;
}

.max-w-xs:hover {
  transform: scale(1.2);
}

body {
  background-color: #1a1a1a; 
  color: #e0e0e0; 
}

header, footer {
  background-color: #333; /* Màu nền của header và footer */
}

button, a {
  background-color: #2e3039; /* Màu nền của các button và link */
  color: #fff; /* Màu chữ của các button và link */
}

input {
  background-color: #fff; /* Màu nền của ô nhập */
  color: #0a0a0a; /* Màu chữ của ô nhập */
}

h2.text-2xl {
  color: #000000; /* 'Signup' */
}


/* Sign-up*/
.text-black {
  color: #000000; /* Màu đen */
}

/* Chuyển màu đen và nền đậm cho link */
.highlight-link {
  color: #000000; /* Màu chữ đen */
  background-color: #dad2f0; /* Màu nền đậm cho link */
  padding: 2px 4px; /* Tạo khoảng cách giữa chữ và nền */
  border-radius: 4px; /* Bo tròn góc nếu cần */
  text-decoration: none; /* Loại bỏ gạch chân mặc định */
}
